<button type="button" class="btn btn-inline" ng-click="vm.print('incomestatement')">Print</button>
<div class="container-fluid" id="incomestatement" style="background: white">
    <div class="row col-md-12">
        <div class="row">
            <div class="row col-md-12" style="text-align:center">
                <p>
                    <b>BUSINESS CONSULTING COMPANY </b>
                </p>
                <p><b>Income Statement</b></p>
                <p><b>For the Year Ended December 31,2015</b></p>
            </div>

        </div>
    <div class="row col-md-12">
        <div class="row col-md-12">
            <div class="col-md-4">
                <p><b>Revenue:</b></p>
            </div>
            <div class="row col-md-12">
                <div class="col-md-6">
                    <p>Consulting revenue earned </p>
                </div>
                <div class="col-md-6" style="text-align:center">
                    <p> $ 82,500</p>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4">
                    <p><b>Expenses:</b></p>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p>Salaries expense</p>
                    </div>
                    <div class="col-md-6">
                        <p>$42500</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p>Supplier expense</p>
                    </div>
                    <div class="col-md-6">
                        <p>$1950</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p>Rent expense</p>
                    </div>
                    <div class="col-md-6">
                        <p>$6000</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p>Insurance expense</p>
                    </div>
                    <div class="col-md-6">
                        <p>$950</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p>Advertising expense</p>
                    </div>
                    <div class="col-md-6">
                        <p>$250</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p>Depreciation expense - equipment</p>
                    </div>
                    <div class="col-md-6">
                        <p>$900</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        <p>Interest expense</p>
                    </div>
                    <div class="col-md-2">
                        <p><u>$450</u></p>
                    </div>
                    <div class=" row col-md-3" style="text-align:center">
                        <p><u>$53000</u></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <p> Income before income tax</p>
                </div>
                <div class="col-md-6" style="text-align:center">
                    <p> $29500</p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <p> Income tax expense</p>
                </div>
                <div class="col-md-6" style="text-align:center">
                    <p> <u>$11500</u></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <p>  Net income</p>
                </div>
                <div class="col-md-6" style="text-align:center">
                    <p> <u>$18000</u></p>
                </div>
            </div>

        </div>

    </div>

    </div>

</div>
