<div class="row">
    <div class="col col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Add Customer</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" ng-submit="!vm.isUpdateMode && vm.save() || vm.update()">
                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Membership Card No:</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-6">
                            <input type="text" class="form-control" name="MembershipCardNo" ng-model="vm.model.membershipCardNo"  required="required" />
                        </div>
                        <div class="col col-lg-2">
                            <button type="button" class="btn btn-default pull-left" ng-click="vm.getBarcode()"><span class="glyphicon glyphicon-asterisk"></span></button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Name :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control" name="Name" ng-model="vm.model.name" required="required"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">House No :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control" name="HouseNo" ng-model="vm.model.houseNo"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Road No :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control" name="RoadNo" ng-model="vm.model.roadNo" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Area :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control" name="Area" ng-model="vm.model.area" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Thana :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control" name="Thana" ng-model="vm.model.thana" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">District :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control" name="District" ng-model="vm.model.district" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Country :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control" name="Country" ng-model="vm.model.country" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Phone :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="tel" class="form-control" name="Phone" ng-model="vm.model.phone" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Email :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control " name="Email" ng-model="vm.model.email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">Remarks :</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <input type="text" class="form-control " name="Remarks" ng-model="vm.model.remarks" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col col-xs-12 col-sm-4 col-md-4 col-lg-4">&nbsp;</label>
                        <div class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <button ng-show="!vm.isUpdateMode" type="submit" class="btn btn-floating btn-info">Save</button>
                            <button ng-show="vm.isUpdateMode" type="button" class="btn btn-floating btn-danger" ng-click="vm.update()">Update</button>
                            <button ng-show="vm.isUpdateMode" type="button" class="btn btn-floating btn-danger" ng-click="vm.activate()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>

    <div class="col col-xs-12 col-sm-7 col-md-7 col-lg-7">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">Customer List</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <form ng-submit="vm.search()">
                        <div class="col col-xs-9 col-sm-7 col-md-7 col-lg-7">
                            <input class="form-control input-field" type="text" placeholder="Search" required="required" ng-model="vm.searchRequest.keyword" />
                        </div>
                        <div class="col col-xs-3 col-sm-2 col-md-2 col-lg-2">
                            <button type="submit" class="btn btn-default pull-left"><span class="glyphicon glyphicon-search"></span></button>
                            <button type="button" class="btn btn-default pull-left" ng-click="vm.report()"><span class="glyphicon glyphicon-download-alt"></span></button>
                        </div>
                    </form>
                    <!--<button type="submit" class="btn btn-info pull-right">Print</button>-->
                </div>
            </div>

            <!-- Table -->
            <table class="table table-responsive table-bordered table-hover">
                <thead>
                    <tr class="active">
                        <th>#</th>
                        <th>Name</th>
                        <th>District</th>
                        <th>Phone</th>
                        <th>Point</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in vm.models track by $index"  ng-class="{'selected':$index == vm.selectedRow}" ng-click="vm.detail(p,$index)" style="cursor: alias">
                    <td>{{$index + 1}}</td>
                    <td>{{p.name}}</td>
                    <td>{{p.district}}</td>
                    <td>{{p.phone}}</td>
                    <td>{{p.point}}</td>
                    <td>
                        <!--<a class="glyphicon glyphicon-edit" style="cursor: pointer;"></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;-->
                        <a class="glyphicon glyphicon-remove" style="cursor: pointer; display: none;" ng-click="vm.delete(p.id)" ng-show="vm.user.role ==='Admin' || vm.user.role ==='SuperAdmin' "></a>                       
                    </td>
                </tr>
                    <tr>
                        <td>Total: </td>
                        <td></td>
                        <td></td>
                        <td></td>                        
                        <td>{{vm.getTotal().pointTotal}}</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <div class="panel-footer">
                <div class="page-nation">
                    <ul class="pagination pagination-large">
                        <li ng-class="{'disabled' : vm.searchRequest.page==1 }"><a ng-hide="vm.searchRequest.page==1" ng-click="vm.goto(1)">First</a></li>
                        <li ng-class="{'disabled' : vm.searchRequest.page==1 }"><a ng-hide="vm.searchRequest.page==1" ng-click="vm.goto(vm.searchRequest.page-1)">< Previous</a></li>
                        <li class="disabled"><a href="javascript:void(0)">Page # {{vm.SearchRequest.Page}} / {{vm.searchRequest.totalPage}}</a></li>
                        <li><a ng-hide="vm.searchRequest.page == vm.searchRequest.totalPage" ng-click="vm.goto(vm.searchRequest.page+1)"> Next ></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>