<div class="box-typical box-typical-padding">
    <h5 class="m-t-lg with-border"><a class="glyphicon glyphicon-menu-left" ng-click="vm.back()"></a></h5>
    <div id="dealer-product-history-head">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <h3 class="panel-title">Product History:</h3>
                    </div>
                    <!-- Table -->
                    <div class="table table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Avg Unit Price</th>
                                    <th>Total</th>
                                    <!--<th>Paid</th>
                                    <th>Due</th>-->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in vm.response.histories track by $index">
                                    <td>{{$index + 1}}</td>
                                    <td>{{p.productName}}</td>
                                    <td>{{p.quantity}}</td>
                                    <td>{{p.unitPrice}}</td>
                                    <td>{{p.total}}</td>
                                    <!--<td>{{p.paid}}</td>
                                    <td>{{p.due}}</td>-->
                                </tr>
                                <tr>
                                    <td><h4>Total:</h4></td>
                                    <td></td>
                                    <td>{{vm.totalQuantity}}</td>
                                    <td></td>
                                    <td>{{vm.totalPrice}}</td>
                                    <!--<td></td>
                                    <td></td>-->

                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-default btn-info"
                ng-csv="vm.csvModels"
                csv-header="vm.headers"
                filename="data.csv"
                field-separator=","
                decimal-separator=".">
            Export to CSV
        </button>
        <button ng-hide="false" class="btn btn-default btn-info" ng-click="vm.excelDownloadWithId('dealer-product-history-head')">Excel</button>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>