<div class="box-typical box-typical-padding">
    <h5 class="m-t-lg with-border">New System User</h5>
    <form class="form-horizontal" ng-submit="vm.save()">
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstName" name="firstName" ng-model="vm.model.firstName" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastName" name="lastName" ng-model="vm.model.lastName"  />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">User Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="userName" name="userName" ng-model="vm.model.userName" ng-disabled="vm.isUpdateMode" />
            </div>
        </div>
        <div ng-hide="vm.isUpdateMode" class="form-group row">
            <label class="col-sm-2 form-control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" ng-model="vm.model.password" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Phone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="contactPersonName" ng-model="vm.model.phoneNumber" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Role</label>
            <div class="col-sm-10">
                <select type="text" class="form-control" id="roleId" name="roleId" ng-model="vm.model.roleId" ng-options="i.id as i.name for i in vm.userRoles"></select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">Active</label>
            <div class="col-sm-10">
                <input type="checkbox" id="IsActive" name="isActive" ng-model="vm.model.isActive">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 form-control-label">&nbsp;</label>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-inline btn-success" ng-if="!vm.isUpdateMode">Save</button>
                <button type="submit" class="btn btn-inline btn-success" ng-if="vm.isUpdateMode">Update</button>
                <button type="button" class="btn btn-inline btn-danger" ng-if="vm.isUpdateMode" ng-click="vm.setDefaultPassword()">Reset Password</button>
                <a  class="btn btn-inline btn-info"  ui-sref="root.employees">Back</a>
            </div>
        </div>
    </form>
</div>
