<div class="box-typical box-typical-padding">
    <h5 class="m-t-lg with-border">On The way Couriers List</h5>
    <div class="form-horizontal">
        <div class="form-group row">

            <div class="col col-md-2">
                <div class="control-label">Deliveryman</div>
                <select type="text" class="form-control " name="Deliveryman" ng-model="vm.searchRequest.deliverymanId" ng-init="vm.loadDeliverymans()"
                        ng-options="i.id as i.userName for i in vm.deliverymans" required="required" ng-change="vm.deliverymanChanged()"></select>
            </div>
            <!--<div class="col col-md-3">
                <div class="input-group">
                    <label class="control-label">Order State</label>
                    <select type="text" class="form-control " name="accountType" ng-model="vm.searchRequest.orderState" ng-options="i as i for i in vm.orderStates" ng-change="vm.couriersSearch()"></select>
                </div>
            </div>-->
            <div class="col col-md-2">
                <div class="input-group">
                    <label class="control-label">Thana</label>
                    <select type="text" class="form-control" name="thana" ng-model="vm.searchRequest.thana" ng-options="i as i for i in vm.thanas" ng-change="vm.couriersSearch()"></select>
                </div>
            </div>
            <div class="col col-md-2">
                <div class="control-label">&nbsp;</div>
                <button class="btn btn-info" ng-click="vm.nextStateAll()">Deliver All</button>
            </div>
            <div class="col col-md-6"></div>


        </div>
    </div>
    <div class="row">
        <div class="bootstrap-table">
            <div class="fixed-table-container">
                <div class="fixed-table-body">
                    <div class="table-responsive">
                        <table id="table-edit" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th ng-click="vm.toggleSort('orderNumber')">Order Number<span class="glyphicon glyphicon-sort"></span></th>
                                    <th>Total (Due)</th>
                                    <th ng-click="vm.toggleSort('customerName')">Customer<span class="glyphicon glyphicon-sort"></span></th>
                                    <th>Thana,District</th>
                                    <th>Deliveryman</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="p in vm.models track by $index">
                                    <td>{{$index + 1}}</td>
                                    <td>{{p.modified | date}}</td>
                                    <td ui-sref="root.saledetail({id:p.id})" style="cursor: pointer">
                                        <a href="javascript:void(0)">{{p.orderNumber}}</a>
                                    </td>

                                    <td>{{p.totalAmount | currency : ''}} ({{p.dueAmount | currency : ''}})</td>
                                    <td ui-sref="root.customerhistory({id: p.customerId})" style="cursor: pointer"><a href="javascript:void(0)">{{p.customerName}} ({{p.customerPhone}})</a></td>
                                    <td>{{p.address.thana}},{{p.address.district}}</td>
                                    <td>{{p.deliverymanName}}</td>
                                    <td style="cursor: pointer"><button class="btn btn-inline btn-info" ng-click="vm.nextState(p)">Deliver</button></td>
                                </tr>
                                <tr>
                                    <td>Total:</td>
                                    <td>#{{vm.models.length}}</td>
                                    <td></td>
                                    <td>{{vm.total | currency : ''}} ({{vm.due | currency : ''}})</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-include="vm.subUrlPath+'/partials/common/pagination.html'">

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>