<div class="box-typical box-typical-padding" access-control>
    <h5 class="m-t-lg with-border"><a class="glyphicon glyphicon-menu-left" ng-click="vm.back()"></a> Order: {{vm.model.orderNumber}}</h5>
    <div class="row">
        <div class="col col-sm-12">
            <div class="form-horizontal biz-boxed">
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="form-group row">
                            <label class="control-label col-sm-3">Order Date:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="name" ng-model="vm.model.requiredDeliveryDateByCustomer | date" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-3">Order Number:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="name" ng-model="vm.model.orderNumber" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-3">Order Reference Number:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="OrderRefNumber" ng-model="vm.model.orderReferenceNumber" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label  col-sm-3">Customer Name:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="name" ng-model="vm.model.customerName" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-3 ">Customer Phone:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="phone" ng-model="vm.model.customerPhone" readonly />
                        
                            </div>
                        </div>
                        <fieldset ng-show="vm.model.addressId && vm.model.addressId.length>0">
                            <div class="form-group row">
                                <label class="control-label col-sm-3 ">Customer Address:</label>
                                <div class="col-sm-9">
                                    <textarea type="text" class="form-control" name="phone" ng-model="vm.model.address.streetAddress" readonly></textarea>
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                <label class="control-label col-sm-3 ">Customer Postcode:</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="phone" ng-model="vm.model.address.postCode" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-3">Customer Area</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="area" ng-model="vm.model.address.area" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-3">Customer Thana</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="area" ng-model="vm.model.address.thana" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-3">Customer District</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="area" ng-model="vm.model.address.district" readonly />
                                </div>
                            </div>
                        
                        </fieldset>
                       
                    </div>
                    <div class="col col-sm-6">
                        <div class="form-group row">
                            <label class="control-label col-sm-3 ">Total:</label>
                        
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="Discount" ng-model="vm.model.totalAmount" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-3 ">Discount:</label>
                        
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="Discount" ng-model="vm.model.discountAmount" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-3 ">Payable Total:</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="Total" ng-model="vm.model.payableTotalAmount" readonly />
                        
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-3 ">Paid:</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="Paid" ng-model="vm.model.paidAmount" ng-blur="vm.getReturn()"
                                    readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-sm-3 ">Due:</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" name="Paid" ng-model="vm.model.dueAmount" readonly="readonly" />
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <div class="row">
        <div class="col col-sm-12">
            <div class="form-horizontal biz-boxed">
                <div class="panel-heading">
                    <h5>Products</h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Modified Date</th>
                                <th>Sale Detail Type</th>
                                <th>Remarks</th>
                                <th>Total</th>
        
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in vm.model.saleDetails track by $index" ng-click="vm.editCart(p)" style="cursor: alias">
                                <td>{{$index + 1}}</td>
                                <td>{{p.productDetailName}}</td>
                                <td>{{p.salePricePerUnit}}</td>
                                <td>{{p.quantity}}</td>
                                <td>{{p.Modified}}</td>
                                <td>
                                    {{p.saleDetailType}}
                                   
                                </td>
                                <td>{{p.remarks}}</td>
                                <td>{{p.total | number : 2}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><strong>{{vm.model.productAmount | number : 2}}</strong></td>
                            </tr>
        
                        </tbody>
                    </table>
                </div>
            </div>
           
        </div>
    </div>

    <div class="row">
        <div class="col col-sm-12">
            <div class="form-horizontal biz-boxed">
                <div class="panel-heading">
                    <h5>Invoice Cancel</h5>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 form-control-label">Dealer Invoice Cancel</label>
                    <div class="col-sm-9">
                        <select type="text" class="form-control " name="accountType" ng-model="vm.model.nextOrderState" ng-options="i as i for i in vm.orderStates"></select>
                    </div>
                </div>
               
                <div class="form-group row">
                    <label class="col-sm-3 form-control-label"></label>
                    <div class="col-sm-9">
                        <button class="btn btn-inline btn-info" ng-click="vm.updateState()">Cancel</button>
                    </div>
                </div>
                
            </div>
    
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>