<ul class="side-menu-list">

    <li class="magenta opened">
        <a ui-sref="root.dashboard">
            <i class="font-icon font-icon-dashboard"></i>
            <span class="lbl">Dashboard</span>
        </a>
    </li>

    <li class="brown with-sub">
        <span>
            <i class="font-icon glyphicon glyphicon-tint"></i>
            <span class="lbl">Access Controll</span>
        </span>
        <ul>
            <li>
                <a ui-sref="root.addrole">
                    <span class="lbl">Role</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.adduser">
                    <span class="lbl">User</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.adduserrole">
                    <span class="lbl">User Roles</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.addresource">
                    <span class="lbl">Resources</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.addpermission">
                    <span class="lbl">Premissions</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.shops">
                    <span class="lbl">Shops</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.contacts">
                    <span class="lbl">Contact Request</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="brown with-sub">
        <span>
            <i class="font-icon glyphicon glyphicon-tint"></i>
            <span class="lbl">Brand</span>
        </span>
        <ul>
            <li>
                <a ui-sref="root.newBrand">
                    <span class="lbl">New</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.brandList">
                    <span class="lbl">List</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="brown with-sub">
        <span>
            <i class="font-icon glyphicon glyphicon-tint"></i>
            <span class="lbl">Supplier</span>
        </span>
        <ul>
            <li>
                <a ui-sref="root.newSupplier">
                    <span class="lbl">New</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.supplierList">
                    <span class="lbl">List</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="brown with-sub">
        <span>
            <i class="font-icon glyphicon glyphicon-tint"></i>
            <span class="lbl">Customer</span>
        </span>
        <ul>
            <li>
                <a ui-sref="root.newCustomer">
                    <span class="lbl">New</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.customerList">
                    <span class="lbl">List</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="gold with-sub">
        <span>
            <i class="font-icon font-icon-edit"></i>
            <span class="lbl">Product Group</span>
        </span>
        <ul>
            <li>
                <a ui-sref="root.newProductGroup">
                    <span class="lbl">New</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.productGroupList">
                    <span class="lbl">List</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="gold with-sub">
        <span>
            <i class="font-icon font-icon-edit"></i>
            <span class="lbl">Product Category</span>
        </span>
        <ul>
            <li>
                <a ui-sref="root.newProduct">
                    <span class="lbl">New</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.productList">
                    <span class="lbl">List</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="gold with-sub">
        <span>
            <i class="font-icon font-icon-edit"></i>
            <span class="lbl">Product Detail</span>
        </span>
        <ul>
            <li>
                <a ui-sref="root.newProductDetail">
                    <span class="lbl">New</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.productDetailList">
                    <span class="lbl">List</span>
                </a>
            </li>            
        </ul>
    </li>

    <li class="magenta with-sub">
        <span>
            <span class="glyphicon glyphicon-list-alt"></span>
            <span class="lbl">Purchase</span>
        </span>
        <ul>
            <li>
                <a ui-sref="root.newpurchase">
                    <span class="lbl">New</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.purchases">
                    <span class="lbl">List</span>
                </a>
            </li>
        </ul>
    </li>

    <li class="green with-sub">
        <span>
            <i class="font-icon font-icon-widget"></i>
            <span class="lbl">Sale</span>
        </span>
        <ul>
            <li>
                <a ui-sref="root.newsale">
                    <span class="lbl">Sale</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.sales">
                    <span class="lbl">List</span>
                </a>
            </li>

        </ul>
    </li>

<!--<li class="pink-red with-sub">
    <span>
        <i class="font-icon font-icon-zigzag"></i>
        <span class="lbl">Account Heads</span>
    </span>
    <ul>
        <li>
            <a ui-sref="root.newAccounthead">
                <span class="lbl">New</span>
            </a>
        </li>
        <li>
            <a ui-sref="root.accountheadList">
                <span class="lbl">List</span>
            </a>
        </li>

    </ul>
</li>-->
    
    <li class="pink-red with-sub">
        <span>
            <i class="font-icon font-icon-widget"></i>
            <span class="lbl">Account Head</span>
        </span>
        <ul>
            <li>
                <a ui-sref="root.accounthead">
                    <span class="lbl">New</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.accountheads">
                    <span class="lbl">List</span>
                </a>
            </li>

        </ul>
    </li>


<li class="green with-sub">
        <span>
            <i class="font-icon font-icon-widget"></i>
            <span class="lbl">Transections</span>
        </span>
        <ul>
            <li>
                <a ui-sref="root.new-transaction">
                    <span class="lbl">New</span>
                </a>
            </li>
            <li>
                <a ui-sref="root.transactions">
                    <span class="lbl">List</span>
                </a>
            </li>

        </ul>
    </li>

</ul>

<!--<section>
    <header class="side-menu-title">Tags</header>
    <ul class="side-menu-list">
        <li>
            <a href="#">
                <i class="tag-color green"></i>
                <span class="lbl">Website</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="tag-color grey-blue"></i>
                <span class="lbl">Bugs/Errors</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="tag-color red"></i>
                <span class="lbl">General Problem</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="tag-color pink"></i>
                <span class="lbl">Questions</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="tag-color orange"></i>
                <span class="lbl">Ideas</span>
            </a>
        </li>
    </ul>
</section>-->


<script src="js/app.js"></script>