<div class="container-fluid">
    <a href="#" class="site-logo">
        <img class="hidden-md-down" src="img/logo-2.png" alt="">
        <img class="hidden-lg-up" src="img/logo-2-mob-b.png" alt="">
    </a>
    <button id="show-hide-sidebar-toggle" class="show-hide-sidebar">
        <span>toggle menu</span>
    </button>
    <button class="hamburger hamburger--htla" id="toggleButtonHtla">
        <span>toggle menu</span>
    </button>
    <div class="site-header-content">
        <div class="site-header-content-in">
            <div class="site-header-shown">
                <div class="dropdown user-menu" ng-show="vm.isSignedIn">
                    <button class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img src="img/avatar-2-64.png" alt="">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
                        <a class="dropdown-item" href="javascript:void(0)" ui-sref="root.profile"><span class="font-icon glyphicon glyphicon-user"></span>{{vm.user.userName}}</a>
                        <a class="dropdown-item" href="http://www.facebook.com/codecoopers" target="_blank"><span class="font-icon glyphicon glyphicon-question-sign"></span>Help</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0)" ng-click="vm.signout()"><span class="font-icon glyphicon glyphicon-log-out"></span>Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>