.biz-boxed {
    border: 1px solid #d8e2e7;
    padding: 10px;
    margin-top: 5px;
}

.biz-receipt-line-height {
    line-height: 0.3;   
}     

.grid {
    width: 100%;
    height: 800px;
}

.bootstrap-table .table td, .fixed-table-body .table td, .table td {
    height: 20px;
}

.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

    .typeahead-demo .custom-popup-wrapper > .message {
        padding: 10px 20px;
        border-bottom: 1px solid #ddd;
        color: #868686;
    }

    .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
        position: static;
        float: none;
        display: block;
        min-width: 160px;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
