
<button type="button" class="btn btn-inline" ng-click="vm.back()"><</button>
<button type="button" class="btn btn-inline" ng-click="vm.print()">Print</button>
<div class="container" >
    <div class=" col-xs-12" id="receipt" style="background: white; font-size: 7px !important; font-weight: bolder; line-height: 0.0 !important;">
        <div class="col-xs-6">
            <div class="col-xs-12">
                <div class="col-xs-8">
                    <div class="row h6 ">
                        <div>
                            <p>Prepared by MD Zahidul Islam</p>
                        </div>
                        <div>
                            <p>Phone:01750180055</p>
                        </div>
                        <div>
                            <p>Email:shorobor.bitoron@gmail.com</p>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="row h6">
                        <div>
                            <p>Bill To:</p>
                        </div>
                        <div>
                            <p>Sadia</p>
                        </div>
                        <div>
                            <p>Road-2-House-146;Flat-4</p>
                        </div>
                        <div>
                            <p>01717271892</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row h6">
                        <div>
                            <p>Date: 02/19/2018</p>
                        </div>
                        <div>
                            <p>Invoice No: SL-7579</p>
                        </div>
                        <div>
                            <p>Salesperson: Md Zahirul Islam</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row h6">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Qty</th>
                                <th scope="col">Description</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Khardal/Mustard oil(280 gm)</td>
                                <td>70.00</td>
                                <td>70.00</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Kurkum(130 gm)</td>
                                <td>50.00</td>
                                <td>50.00</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Harif(130 gm)</td>
                                <td>50.00</td>
                                <td>50.00</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Kamun(130 gm)</td>
                                <td>50.00</td>
                                <td>50.00</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Samna(130 gm)</td>
                                <td>50.00</td>
                                <td>50.00</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Jolpai Power(130 gm)</td>
                                <td>50.00</td>
                                <td>50.00</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>

                                <td>Subtotal</td>
                                <td>775.00</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>

                                <td>Shipping</td>
                                <td>50.00</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>

                                <td>Total amount:</td>
                                <td>825.00</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>

                                <td>Balance Due:</td>
                                <td>825.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="row h6">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <p>Received By</p>
                    </div>
                    <div class="col-xs-6">
                        <p>On behalf of Shorobor</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12">
                <div class="col-xs-8">
                    <div class="row h6 ">
                        <div>
                            <p>Prepared by MD Zahidul Islam</p>
                        </div>
                        <div>
                            <p>Phone:01750180055</p>
                        </div>
                        <div>
                            <p>Email:shorobor.bitoron@gmail.com</p>
                        </div>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="row h6">
                        <div>
                            <p>Bill To:</p>
                        </div>
                        <div>
                            <p>Sadia</p>
                        </div>
                        <div>
                            <p>Road-2-House-146;Flat-4</p>
                        </div>
                        <div>
                            <p>01717271892</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row h6">
                        <div>
                            <p>Date: 02/19/2018</p>
                        </div>
                        <div>
                            <p>Invoice No: SL-7579</p>
                        </div>
                        <div>
                            <p>Salesperson: Md Zahirul Islam</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="row h6">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Qty</th>
                                <th scope="col">Description</th>
                                <th scope="col">Unit Price</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Khardal/Mustard oil(280 gm)</td>
                                <td>70.00</td>
                                <td>70.00</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Kurkum(130 gm)</td>
                                <td>50.00</td>
                                <td>50.00</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Harif(130 gm)</td>
                                <td>50.00</td>
                                <td>50.00</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Kamun(130 gm)</td>
                                <td>50.00</td>
                                <td>50.00</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Samna(130 gm)</td>
                                <td>50.00</td>
                                <td>50.00</td>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Jolpai Power(130 gm)</td>
                                <td>50.00</td>
                                <td>50.00</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>

                                <td>Subtotal</td>
                                <td>775.00</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>

                                <td>Shipping</td>
                                <td>50.00</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>

                                <td>Total amount:</td>
                                <td>825.00</td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>

                                <td>Balance Due:</td>
                                <td>825.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <br />
            <br />
            <br />
            <div class="row h6">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <p>Received By</p>
                    </div>
                    <div class="col-xs-6">
                        <p>On behalf of Shorobor</p>
                    </div>
                </div>
            </div>
        </div>      
    </div>  
</div>